@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  min-height: 100%;
}

/* width */
.scroll::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: #777;
}

@layer components {
  /* Main workspace */
  .main {
    @apply h-full;
    @apply pt-12;
  }

  /* Navbars */
  .nav {
    @apply flex items-center;
    @apply bg-zinc-400/15;
    @apply h-12 w-full;
    @apply px-4;
    @apply border-b border-gray-300;
    @apply absolute;
    @apply z-10;
  }

  .nav__brand {
    @apply text-xl font-bold;
    @apply flex items-center space-x-2;
    @apply mr-4;
    @apply h-full;
  }

  .nav__list {
    @apply flex space-x-2 items-center;
    @apply h-full;
  }

  .nav__item {
    @apply text-zinc-400 hover:text-zinc-800;
    @apply h-full content-center;
  }

  .nav__brand--selected,
  .nav__item--selected {
    @apply border-b-2 border-orange-500;
    @apply text-zinc-900;
  }

  /* List-view */
  .list-view {
    @apply border-r;
    @apply w-48 h-full;
    @apply py-4 overflow-auto;
  }

  .list-view__heading {
    @apply text-xl font-bold;
    @apply px-4 mb-3;
  }

  .list-view__list {
    @apply ml-2;
  }

  .list-view__item {
    @apply text-zinc-600 hover:text-zinc-800 hover:font-semibold;
    @apply pl-2  mb-1;
    @apply hover:border-l-2 hover:border-orange-500;
    @apply cursor-pointer;
    @apply flex items-center space-x-2;
  }

  .list-view__item--selected {
    @apply text-zinc-900 font-semibold;
    @apply border-l-2 border-orange-600;
  }

  .list-view__icon {
    @apply opacity-0 hover:opacity-100;
    @apply transition;
  }

  /* Modals */
  .modal {
    @apply fixed top-0 left-0 z-20;
    @apply bg-gray-950/75;
    @apply w-full h-full;
  }

  .modal__container {
    @apply w-1/2 lg:w-1/3 xl:w-1/4;
    @apply bg-white;
    @apply rounded-xl;
    @apply p-5 mx-auto mt-40;
  }

  .modal__header {
    @apply flex justify-between items-center;
    @apply border-b border-b-gray-200;
    @apply pb-3 mb-3;
  }

  .modal__heading {
    @apply text-lg capitalize font-semibold;
  }

  .modal__close__icon {
    @apply text-xl;
    @apply cursor-pointer;
    @apply box-content;
    @apply p-1;
    @apply rounded-md;
    @apply hover:bg-gray-200;
  }
}
